<p-card header="Cadastro de despesa" styleClass="m-8 shadow-4">
  <form [formGroup]="cadastroForm">
    <div class="grid">
      <div class="col-6">
        <p-floatLabel>
          <input type="text" pInputText formControlName="descricao" class="w-full" />
          <label for="descricao">Despesa</label>
        </p-floatLabel>
      </div>

      <div class="col-6">
        <p-floatLabel>
          <p-inputNumber inputId="valor-despesa" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5"
            formControlName="valor" class="w-full" />
          <label for="despesa">Valor Despesa</label>
        </p-floatLabel>
      </div>

      <div class="col-6">
        <p-dropdown formControlName="categoria" [options]="listaCategorias" optionLabel="nome"
          placeholder="Selecione a categoria" styleClass="w-full" />
      </div>

      <div class="col-6">
        <p-dropdown formControlName="pagamento" [options]="listaPagamentos" optionLabel="nome"
          placeholder="Forma Pagamento" styleClass="w-full" (onChange)="onPagamentoChange($event)" />
      </div>

      @if(exibirOpcoesCartao ){
      <div class="col-6">
        <p-dropdown formControlName="cartao" [options]="listaCartoes" optionLabel="nome" placeholder="Cartões"
          styleClass="w-full" />
      </div>
      <div class="col-6">
        <p-dropdown formControlName="parcela" [options]="listaParcelas" optionLabel="quantidade" placeholder="Parcela"
          styleClass="w-full" />
      </div>
      }
      <p-toast />
      @if(!carregando){
      <div class="col-12">
        <div class="flex justify-content-end flex-wrap flex align-content-end">
          <div class="flex align-items-center justify-content-center font-bold border-round m-2">
            <p-button label="Cancelar" [text]="true" [raised]="true" severity="danger" />
          </div>
          <div class="flex align-items-center justify-content-center font-bold border-round m-2">
            <p-button id="btn-cadastrar" label="Cadastrar" styleClass="w-full" (onClick)="cadastrarDespesa()" />
          </div>
        </div>
      </div>
      }
    </div>
    @if(carregando){
    <div class="flex flex-column">
      <div class="flex align-items-center justify-content-center font-bold border-round m-2">
        <p-progressSpinner ariaLabel="loading" />
      </div>
    </div>
    }
  </form>
</p-card>