<p-dialog header="Carregando serviços" [modal]="true" [visible]="true" [closable]="false" [style]="{ width: '25rem' }">

  <div class="flex justify-content-center  align-content-center flex-wrap">
    <div class="flex align-items-center justify-content-center  ">
      <p-progressSpinner styleClass="w-7rem h-7rem" strokeWidth="8" fill="var(--surface-ground)"
        animationDuration=".5s" />
    </div>
  </div>

  <div class="flex justify-content-center  align-content-center flex-wrap">
    <div class="flex align-items-center justify-content-center  m-2">
      <p>Os serviços estão hospedados em servidores gratuitos, o que pode causar algumas limitações de desempenho e,
        ocasionalmente, lentidão.</p>
    </div>
  </div>
</p-dialog>